<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	
    <servlet>
        <servlet-name>default</servlet-name>
        <init-param>
            <param-name>readonly</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                REST calls
            </web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>voyeur-admin</role-name>
        </auth-constraint>
    </security-constraint>
  
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Voyeur REST</realm-name>
    </login-config>
</web-app>   